html,
body {
  background-color: #2b2b2b;
  padding: 0;
  margin: 0;
  color: #e0dfdf;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border-color: #e0dfdf;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #0063a5;
}

.table {
  color: inherit;
  border-color: #e0dfdf
}

* {
  box-sizing: border-box;
}

textarea {
  height: 200px;
}
